<div class="input-group">
    <span class="input-group-btn ">
    <button [ngClass]="btnClass" (click)="cambiarValor(-5)" type="button " (ngModelChange)="onChange($event)"> <i class="fa fa-minus "></i></button>
    </span>
    <input [ngClass]="{'is-invalid' : progreso > 100 || progreso < 0}" type="number " class="form-control " [(ngModel)]="progreso" placeholder="progreso">
    <span class="input-group-btn ">
    <button [ngClass]="btnClass" (click)="cambiarValor(+5)" type="button "> <i class="fa fa-plus "></i></button>
</span>
</div>